.container{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4opygaaLA5tTtyp036bLMfjtLjPfQEsvp-tRWl-JpeNpUHxA9');
    background-size:cover;
}

form{
    margin:20px 0 20px 0;
    background-color:#f1f1ef;
    flex-direction:column;
    column-count:2;
}