<ng-progress></ng-progress>
<div clas="jumbtron">
    <app-input></app-input>
    <div class="row" id="output">
        <div class="col-md-5" id="profile">
            <img src="{{users.avatar_url}" alt="profile.picute" width="200px" height="200px">
         <br>
          <a hrf="{{users.html_url}" class=" btn btn-block btn-succes" target="_blank" >View profile</a>
        </div>
        <div class="col-md-7" id="github">
            <table>
                <tr>
                    <th>Username</th>
                    <td>{{users.Username}}</td>
                </tr>
                <tr>
                    <th>Bio</th>
                    <td>{{users.bio}}</td>
                </tr>
                <tr>
                    <th>Public repositories</th>
                    <td>{{users.public_repos}}</td>
                </tr>
                <tr>
                    <th>Membership since</th>
                    <td>{{users.created_date|date|uppercase}}</td>
                </tr>
            </table>
        </div>
    </div>
    <h4>Public repositories</h4>
    <div class="card" id="listed" *ngFor="let reposit of repository">
        <p>{{reposit.name}}</p>
        <p>{{reposit.description}}</p>
        <p>{{reposit.lastUpdated}}ago</p>
       

    </div>

</div>